/*  your css code here. If applicable */
.main{
	padding:20px;
	background-color:#f5f5f5
}
#t1,#t2{
	margin:10px;
	padding:10px;
	border:1px solid gray;
	background-color:white
}
.author{
	text-align:right;
	font-style:italic
}